
<div class="container-fluid">

  <section class="hero-plp">
      <div class="hero-plp-header-wrapper">
          <h2 >Shelves and Storage</h2>
      </div>
      <p class="wrap">Modern living demands more out of our spaces — or sometimes, just more space. Which is why a little
          storage ingenuity goes a long way. From our stylish Index wall shelving system to our versatile credenzas, we’re
          always figuring out how to design beautiful, useful ways to keep everything in its place.</p>
  </section>

  <!-- <div class="row">
      <div class="col-md-12">
          <span class="anchor-copy">Jump to:</span>
          <a class="selector" href="#Credenzas">Credenzas &amp; Media Storage</a>
          <a class="selector" href="#Carts">Carts &amp; Trays </a>
          <a class="selector" href="#Wall" >Wall Shelves</a>
      </div>
  </div> -->

  <div class="row mt-2">

      <div class="col-md-12"> <h3>Credenzas &amp; Media Storage</h3></div>

      <div class="col-md-4" *ngFor="let pro of product">
          <app-category-products [pro]="pro"></app-category-products>
      </div>

  </div>




  <div class="row my-4" style="width: 100%;">

      <div class="col-md-4" style="display: flex; flex-direction: column;align-items: center;justify-content: center;">
          <div class="text-center">
              <h2>Designed to pair perfectly with our sofas and sectionals</h2>
          </div>
          <div class="btn btn-primary btn-lg" style="margin-top: 60px;">Shop Seating</div>
      </div>

      <div class="col-md-8">

          <img src="https://media.graphcms.com/resize=w:2400,h:1350,fit:crop/output=format:webp/compress/zqYuieeRRa0k6hiuZL8r" style="width: 100%;height: 100%;">

  </div>

  </div>

  </div>
