.wrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 111111111;
  background: #fff;
  padding: 10px 18px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 6px 19px 19px 2px rgb(171 171 171 / 75%);


  .top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .top,
  .bottom{
    flex: 1;
  }
  button{
    margin-bottom: 15px;
  }

  h2{
    text-align: center;
  }
  ul{
    list-style-type: none;
    padding-left: 0;

    span{
      color: green;
    }
  }
}
