<div class="slider" >
  <img src="../../../assets/images/homepage-silder.webp" alt="">
  <div class="container">
    <div>
      <h2>Welcome to the new standard in furniture</h2>
      <div>SHOP SEATING</div>
    </div>
  </div>
</div>
<div class="mainComponent">
  <h2 class="text-center">Clever products for every corner</h2>
  <div class="row">

    <div class="component-conatainer" [class.translateX]="showMore">
      <app-homepage-product *ngFor="let component of productsComponents" [component]="component"></app-homepage-product>
    </div>

    <div class="next" [class.hiden]="showMore" (click)="next()"><i class="fas fa-chevron-right"></i></div>
    <div class="prev" [class.hiden]="!showMore" (click)="prev()"><i class="fas fa-chevron-left"></i></div>
  </div>
</div>
<div class="range py-5">
  <video loop playsinline muted preload="auto" width="100%">
    <source src="../../../assets/video/Desktop-HP-Range-Video-1280x640.mp4" type="video/mp4">
      Your browser does not support the video tag.
  </video>
  <button class="btn btn-secondary">FIND YOUR RANGE</button>
</div>
<div class="py-5 offer">
  <div class="container-fluid px-5">
    <div class="row align-items-center">
      <div class="col-lg-8 pr-3">
        <img src="../../../assets/images/Desktop-HP-Range-vs-Nomad.webp" alt="" class="w-100 pr-5">
      </div>
      <div class="col-lg-4 mt-3">
        <h2>Two collections, no competition</h2>
        <p>One is contemporary. One is classic. Both are beautiful in their own right. Learn about the shared innovation that puts them lightyears ahead of anything else on the market — and discover the details that make them different.
        </p>
        <button class="btn">Compare collections →</button>
      </div>
    </div>
  </div>
</div>

<div class="weekly-product" id="weekly">
  <div class="row">
    <div class="product-conatiner" [class.translateX]="showMoreProduct">
      <div class="product" *ngFor="let sofa of sofaList index as i">
      <img src="{{sofa.img[0]}}" alt="">
      <ul>
        <li *ngFor="let color of sofa.color index as x" [ngStyle]="{backgroundColor:color}" #colors (click)="changeColor(colors,x,i)"></li>
      </ul>
      <p>{{sofa.name}}</p>
      </div>
    </div>
    <div class="next" [class.hiden]="showMoreProduct" (click)="nextProduct()"><i class="fas fa-chevron-right"></i></div>
    <div class="prev" [class.hiden]="!showMoreProduct" (click)="prevProduct()"><i class="fas fa-chevron-left"></i></div>
  </div>
</div>
