<div class="slider">
  <img src="../../../assets/images/homepage-silder.webp" alt="">
  <div class="container">
    <div>
      <h2>Welcome to the new standard in furniture</h2>
      <div>SHOP SEATING</div>
    </div>
  </div>
</div>
<div class="mainComponent">
  <h2 class="text-center">Clever products for every corner</h2>
  <div class="row">

    <div class="component-conatainer" [class.translateX]="showMore">
      <app-homepage-product *ngFor="let component of productsComponents" [component]="component"></app-homepage-product>
    </div>

    <div class="next" [class.hiden]="showMore" (click)="next()"><i class="fas fa-chevron-right"></i></div>
    <div class="prev" [class.hiden]="!showMore" (click)="prev()"><i class="fas fa-chevron-left"></i></div>
  </div>
</div>
<div class="range py-5">
  <video autoplay loop width="100%">
    <source src="../../../assets/video/Desktop-HP-Range-Video-1280x640.mp4">
  </video>
  <button class="btn btn-secondary">FIND YOUR RANGE</button>
</div>
