<footer class="footer">
  <div class="footer__top d-flex justify-content-between align-items-center">
    <div class="footer__top-subscribe">
      <input type="email" name="email" placeholder="Sign up now!" />
      <button class="footer__top-button" type="button">Subscribe</button>
    </div>

    <div class="social">
      <span>
        <i class="fab fa-lg fa-facebook"></i>
      </span>
      <span>
        <i class="fab fa-lg fa-twitter"></i>
      </span>
      <span>
        <i class="fab fa-lg fa-instagram"></i>
      </span>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="lists d-flex justify-content-between">
      <ul>
        <li class="list-header">
          <a href="#">Design Services</a>
        </li>
        <li>
          <a href="#">Free Consultation</a>
        </li>
        <li>
          <a href="#">Call: 988-888-3807</a>
        </li>
        <li>
          <a href="#">Showrooms</a>
        </li>
      </ul>
      <ul>
        <li class="list-header">
          <a href="#">About Us</a>
        </li>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Our Approach</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Financing</a></li>
        <li><a href="#">Patents</a></li>
      </ul>
      <ul>
        <li class="list-header">
          <a href="#">Support</a>
        </li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Look Up Order</a></li>
        <li><a href="#">Refer a Friend</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">Shipping & Delivery</a></li>
      </ul>
      <ul>
        <li class="list-header"><a href="#">Get in Touch</a></li>
        <li><a href="#">support@marketify.com</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#" data-toggle="modal" data-target="#createProductModal" style="color: gold;">Create product</a></li>
        <li><a href="#" data-toggle="modal" data-target="#showProductsModal" style="color: gold;">Show products</a></li>
      </ul>
    </div>


    <div class="accordion mb-2" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Design Services
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <ul>
              <li>
                <a href="#">Free Consultation</a>
              </li>
              <li>
                <a href="#">Call: 988-888-3807</a>
              </li>
              <li>
                <a href="#">Showrooms</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              About Us
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <ul>
              <li><a href="#">Our Story</a></li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">Our Approach</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Financing</a></li>
              <li><a href="#">Patents</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Support
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Look Up Order</a></li>
              <li><a href="#">Refer a Friend</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Shipping & Delivery</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Get in Touch
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <ul>
              <li><a href="#">support@marketify.com</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>


    <div class="copyright d-flex justify-content-between">
      <small>&copy; 2021 Marketify</small>
      <small>created by Mario - Mostafa - Islam - Yousef</small>
    </div>
  </div>
</footer>

<app-dashboard-add-product></app-dashboard-add-product>
