<div class="container-fluid prod">

<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
    <div class="toast-header">
      <i class="fas fa-shopping-cart mr-3"></i>
      <strong class="mr-auto">Cart</strong>
      <!-- <small>11 mins ago</small> -->
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Added item successfully!
    </div>
  </div>
</div>

  <div class="spinner-wrapper my-5" *ngIf="isLoading">
    <app-loading-spinner class="spinner"></app-loading-spinner>
  </div>

  <p *ngIf="!isLoading" class="ml-3">{{currentProduct?.category}}</p>
  <div *ngIf="!isLoading" class="row my-3">
    <div class="col-md-8">
      <img [src]="currentProduct?.variations[0].imageUrl" alt="" class="prod-img">
    </div>
    <div class="col-md-4 right-part">
      <div class="title mt-2 mb-4">{{currentProduct?.name}}</div>
      <div class="price mb-3">${{currentProduct?.price}}</div>
      <p>Color: {{currentProduct?.variations[0].color}}</p>
      <button class="btn btn-block" [disabled]="!user" (click)="toggleItemInCart(currentProduct)" [ngClass]="{'btn-danger': isAlreadyInCart === true, 'btn-warning':isAlreadyInCart === false }" >{{isAlreadyInCart ? 'Remove from' : 'Add to'}} cart</button>
      <p class="text-right font-italic"><small>{{!user ? 'Please login first!' : ''}}</small></p>
    </div>

    <div class="container">
      <div class="about my-5">
        <div class="about-title mb-4">
          {{currentProduct?.description.title}}
        </div>
        <div class="about-body">
          {{currentProduct?.description.body}}
        </div>
      </div>
    </div>


    <div class="container">
      <div class="product-feature my-3">
       <div class="row align-items-center">
        <div class="col-lg-6">
          <img [src]="currentProduct?.features[0]?.imageUrl" alt="">
        </div>
        <div class="col-lg-6">
          <h4 class="mb-4 mt-3">{{currentProduct?.features[0]?.title}}</h4>
          <p>{{currentProduct?.features[0]?.description}}</p>
        </div>
       </div>
      </div>
    </div>


    <div class="container mt-4">
      <div class="product-footer mt-3">
       <div class="row align-items-center">
        <div class="col-lg-6">
          <h4 class="mb-4">Every single order includes fast, free shipping</h4>
          <p>Just like everything else we make, lamps and light fixtures are delivered directly to your door, for free. There are no minimums, no fine print, and no premiums for rush delivery — just a simple promise to get your stuff to your home as soon as possible, without any unexpected fees.</p>
        </div>
        <div class="col-lg-6">
          <img src="../../../assets/images/Shipping Image.webp" alt="">
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
